---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Romans — Charlotte Thornet">
  <h1>Romans</h1>

  <article class="book-card">
    <h2>Le Chaos, jusqu’au cou !</h2>
    <p>
      Une jeune sorcière qui ne veut pas en être une, un elfe dragophobe, un
      chemin paisible… et un monde qui ne va pas rester tranquille.
    </p>
  </article>
</BaseLayout>
